.cart-Page {
  min-height: calc(100vh - 400px);
}
.empty-cart-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}
.empty-cart-page-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 30px;
}
.empty-cart-page-link {
  background-color: var(--blue-color);
  color: var(--white-color);
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 10px;
  transition: 0, 3s ease;
}
.empty-cart-page-link:hover {
  background-color: var(--move-color);
}
.cart-page-title {
  margin: 20px auto;
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 3px solid black;
  width: max-content;
}
.clear-cart {
  margin: 40px 0 0 20px;
}
.clear-cart-btn {
  padding: 10px 25px;
  border: 2px solid var(--red-color);
  cursor: pointer;
  background-color: var(--white-color);
  color: var(--red-color);
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s ease;
}
.clear-cart-btn:hover {
  background-color: var(--red-color);
  color: var(--white-color);
}
.cart-container {
  display: flex;
  margin: 20px 0;
}
.cart-products {
  flex: 8;
  border-right: 1px solid var(--border-color);
}
.check-cart-product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  padding: 20px 0;
  justify-content: space-around;
}
.check-cart-product-image {
  flex: 1;
}
.check-cart-product-image img {
  width: 200px;
  height: 200px;
}
.check-cart-product-info {
  display: flex;
  align-items: center;
  flex: 3;
}
.cart-product-private-info {
  margin-left: 20px;
  flex: 1;
}
.cart-product-title {
  font-size: 18px;
  margin-bottom: 20px;
}
.cart-product-title span {
  font-size: 20px;
  font-weight: 500;
}
.cart-product-id {
  margin: 20px 0;
  font-size: 15px;
  display: flex;
  align-items: center;
}
.cart-product-id span {
  margin-left: 10px;
}
.cart-product-color {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-product-color span {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.cart-product-size {
  font-size: 18px;
  margin-top: 10px;
}
.cart-product-size span {
  text-transform: uppercase;
}
.cart-product-public-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  flex: 1;
}
.cart-product-price {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--blue-color);
}
.quantity-product {
  display: flex;
  align-items: center;
  font-size: 17px;
}
.quantity-product span {
  font-weight: bold;
  margin-left: 10px;
  font-size: 18px;
}
.check-cart-product-actions {
  flex: 1;
  margin-left: 30px;
  color: var(--red-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-actions-icon {
  font-size: 30px !important;
}
/* Checkout */
.cart-checkout {
  flex: 4;
  padding: 20px;
}
.cart-checkout-contianer {
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 10px;
}
.cart-checkout-title {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.checkout-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.checkout-all-total {
  margin-top: 30px;
}
.subTotal {
  font-size: 20px;
}
.cart-total {
  font-weight: bold;
}
.subTotal-price {
  font-size: 18px;
}
.cartCheckoutBtn {
  text-align: center;
  margin-top: 30px;
}
.checkout-cart-btn {
  background-color: var(--dark-color);
  color: var(--white-color);
  font-size: 20px;
  padding: 8px 25px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 2px;
  border: none;
}

/* Media Query */
@media (max-width: 797px) {
  .cart-container {
    flex-direction: column;
  }
  .check-cart-product {
    flex-direction: column;
  }
}
