.chart {
  margin: 20px 0;
  padding: 15px;
}
.chart-container {
  height: 50vh;
  width: 100%;
}
.chart-title {
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .recharts-responsive-container {
    width: 100% !important;
  }
}
